{% include 'navbar.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'images/style.css' %}">

<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" id="underlay" _="on click trigger closeModal"></div>
	<div class="modal-content" id="mod">
 
    
    <div class="h-screen flex flex-col justify-center items-center">
      <div class="container mx-auto ">
        <div class="flex flex-col lg:flex-row w-10/12 lg:w-8/12 bg-white rounded-xl mx-auto shadow-lg overflow-hidden">
          <div class="w-full lg:w-1/2 flex flex-col items-center justify-center p-12 bg-no-repeat bg-cover bg-center">
            <img src="{% static 'images/bg-register.jpg' %}" alt="Background image">
            <h1 class="text-black text-3xl mb-3">Welcome</h1>
            <div>
              <p class="text-white">Personalize Your Experience <a href="#" class="text-purple-500 font-semibold"></a></p>
            </div>
          </div>
          <div class="w-full lg:w-1/2 py-8 px-8">
            <h2  class="text-3xl mb-4">Register</h2>
            <p class="mb-4">
              Ready to take the first step? Register now and start your journey with us!
            </p>
            <form action="#" method="POST">
              {% csrf_token %}
              <div class="grid grid-cols-2 gap-5">
               
                {{form.first_name.label}}
                {{form.first_name}}
                {{form.last_name.label}}
                {{form.last_name}}
              </div>
              <div class="mt-5">
                {{form.email.label}}
                {{form.email}}
              </div>
              
              <div class="mt-5">
                {{form.phone_number.label}}
                {{form.phone_number}}
              </div>
              <div class="mt-5">
                {{form.semester.label}}
               {{form.semester}}
              </div>
              <div class="mt-5">
                {{form.address.label}}
                {{form.address}}
              </div>

              <div class="mt-5">
                <button _= "on click trigger closeModal" hx-post="/add_student/" hx-target="body" class="w-full bg-teal-700 hover:bg-teal-600 py-3 text-center text-white">Register Now</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>  
    </div>
    
    