{% include 'navbar.html' %}




<section class="h-auto pt-3 flex font-medium items-center justify-center w-full p-10">
    <div class="grid gap-8">
        <div class="grid content-center justify-items-center gap-3">
            <div class="break-all text-center">
                <h1 class="text-3xl darktext font-bold text-center">
                    Welcome {{user.first_name}} {{user.last_name}}
                </h1>
                <span class="font-semi-bold text-lg"><br />
          {{user.faculty}} {{user.semester}} <sup>th</sup> semester</span
        >
      </div>
    </div>
    <div class="flex flex-col items-start">
        <h2 class="text-3xl font-bold mb-4">Assignments</h2>
        <div class="grid grid-flow-row sm:grid-cols-2 gap-10 grid-cols-1 content-center justify-items-center lg:grid-cols-3">
            <div class="bg-white hover:shadow-lg  rounded-lg">
                <div class="relative block rounded-md border border-gray-100 p-4 shadow-xl w-[350px] h-[250px] overflow-hidden overflow-y-auto">
                    <div class=" items-center mt-4 h-full justify-center ">
                        
                        <h3 class="text-xl font-semibold text-teal-600 text-center">
                            Pending
                        </h3>
                        <div class="pt-2 justify center text-justify">
                            my name is lalala i am doing lalala lorem lahstb cniw jhsud sjdhoh This course covers the 
                            fundamentals of physics including oscillations, electromagnetic theory, and basics of quantum 
                            mechanics, band theory, semiconductors and universal logic gates and finally physics of manufacturing 
                            integrated circuits. also haynajh agy agy bhguh 

                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white hover:shadow-lg  rounded-lg">
                <div class="relative block rounded-md border border-gray-100 p-4 shadow-xl w-[350px] h-[250px] overflow-hidden overflow-y-auto">
                    <div class=" items-center mt-4 h-full justify-center ">
                        
                        <h3 class="text-xl font-semi-bold text-teal-600 text-center">
                            Submitted
                        </h3>
                        <div class="pt-2 justify center text-justify">
                            my name is lalala i am doing lalala lorem lahstb cniw jhsud sjdhoh This course covers the 
                            fundamentals of physics including oscillations, electromagnetic theory, and basics of quantum 
                            mechanics, band theory, semiconductors and universal logic gates and finally physics of manufacturing 
                            integrated circuits. also haynajh agy agy bhguh 

                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white hover:shadow-lg  rounded-lg">
                <div class="relative block rounded-md border border-gray-100 p-4 shadow-xl w-[350px] h-[250px] overflow-hidden overflow-y-auto">
                    <div class=" items-center mt-4 h-full justify-center ">
                        
                        <h3 class="text-xl font-semibold text-teal-600 text-center">
                            Missed
                        </h3>
                        <div class="pt-2 justify center text-justify">
                            my name is lalala i am doing lalala lorem lahstb cniw jhsud sjdhoh This course covers the 
                            fundamentals of physics including oscillations, electromagnetic theory, and basics of quantum 
                            mechanics, band theory, semiconductors and universal logic gates and finally physics of manufacturing 
                            integrated circuits. also haynajh agy agy bhguh 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} <div class="notice-board grid justify-items-center content-center gap-5 w-screen">
    <h1>NOTICE BOARD</h1>
    {% for subject in subjects %} {% if subject.notice %} {{subject}} {{subject.notice}} <br />{% endif %} {% endfor %}
</div>

<div class="assignment-board">
    <h1 class="text-5xl">Assignments</h1>
    {% for key,values in assignments.items %}
    <div class="subject-assignment pt-3">
        <h1 class="text-5xl">{{key}}</a>
            <div class="assignemnt-list text-xl">
                <ul>
                    <br> {% for value in values %}

                    <li><a href="{% url 'file-download' value.assignment_file %}"> {{value}} </a> </li> <button class="button" hx-post="/submit_assignment/{{value.id}}" hx-target="body">Submit</button><br> {% endfor %}

                    <hr /> {% endfor %}</p>
                </ul>
            </div>
    </div>
</div> {% endcomment %}