{% include 'navbar.html' %}
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
<section class="h-auto pt-2 flex font-medium items-center justify-center w-full p-10">
    <div class="grid gap-8">
        <div class="grid content-center justify-items-center gap-3">
            <div class=" break-all text-center">
                <h1 class="text-3xl darktext font-bold text-center">Welcome {{user.first_name}} {{user.last_name}}</h1>

            </div>
        </div>
    </div>
</section>


<div id="subject-container" class="text-lg">
    <div>
        {% for subject in teacher.subject_set.all %} {{subject}} {% for assignment in subject.assignment_set.all %}

        <a href="#">
        {{assignment}}
        </a> {% endfor %}
        <button class="addAssignment"> Add assignment</button>
    </div>

    {% endfor %}
</div>