{% include 'navbar.html' %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
      <script src="https://cdn.tailwindcss.com"></script>
</head>

<section class="h-auto  flex font-medium items-center justify-center w-full p-10">
    <div class="grid gap-8">
        
        <div class="grid grid-flow-row sm:grid-cols-2 gap-10 grid-cols-1 content-center justify-items-center lg:grid-cols-4">
            {% for i in semesters %}
            <div class="bg-white hover:bg-teal-400 rounded-lg group transition-all duration-200 ease-in-out ">
                <a class="relative block rounded-md border border-gray-100 p-8 shadow-xl w-[270px] h-[210px]" href="/show/{{faculty}}/{{i}}">
                  <div class="mt-4 text-gray-500 sm:pr-8">
                    <div class="text-teal-500 text-2xl group-hover:text-white">
                      <i class="fa-solid fa-code"></i>
                    </div>
                    <h3 class="mt-4 text-xl font-bold text-gray-900 group-hover:text-white">Semester {{i}}</h3>
                    <p class="mt-2 hidden text-sm sm:block">
                      5 courses
                    </p>
                  </div>
                </a>
            </div>
            {% endfor %}
        </div>
        
    </div>
</section>

</html>