{% include 'navbar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'images/custom_style.css' %}">
</head>
<body>
    <section class="service">
        <div class="row">
        {% for i in semesters %} 
        
         <div class="service-col">
            <a href= "/show/{{faculty}}/{{i}}">
                <p></p>
                <h3>Semester {{i}}</h3>
                <hr>
                </a>
            </div>
        {% endfor %}
        </div>

    </section>
</body>
</html>
