{% include 'navbar.html' %}


<!-- <button hx-get="/add_account/{{faculty}}/{{semester}}" hx-target="body" class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600">Add account</button> -->

<!-- <table class="table-auto">
  <thead>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Faculty</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <td>{{student.username}}</td>
      <td>{{student.first_name}}</td>
      <td>{{student.last_name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.phone_number}}</td>
        <td>{{student.address}}</td>
        <td>{{student.faculty}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table> -->

<script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>

<div>
    <div class=" h-auto w-full flex items-center justify-center pt-5 mb-20 lg:mb-0">
        <div class="bg-gray-50 h-auto lg:p-6 p-4 flex justify-center items-center w-full max-w-[95%] lg:max-w-[1200px] shadow-lg">
            <div class="flex-col flex md:flex-row py-10 lg:py-0 mx-5 gap-6 md:mx-0 md:gap-0 md:justify-evenly w-full">
                <div class="relative inline-flex flex-col" >
                    <div class="inline-flex items-center gap-4">
                        <button class="max-w-[150px] text-[20px]font-bold text-xl hover:text-teal-500 cursor-pointer inline-flex" data-dropdown-toggle="dropdown" >Semesters<svg class="w-4 h-7 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
                    </div>
                    <div class=" static left-0 bg-gray-50 z-10 top-full rounded-md p-4 hidden" id="dropdown">
                        <ul class="" aria-labelledby="dropdown">
                            <li>
                                <a href="#" class="block px-4 py-2 flex p-2 rounded-md hover:text-teal-500 hover:bg-gray-100 whitespace-nowrap">Semester 1</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 flex p-2 rounded-md hover:text-teal-500 hover:bg-gray-100
                                 whitespace-nowrap">Semester 2</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 flex p-2 rounded-md hover:text-teal-500 hover:bg-gray-100
                                 whitespace-nowrap">Semester 3</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 flex p-2 rounded-md hover:text-teal-500 hover:bg-gray-100
                                 whitespace-nowrap">Semester 4</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 flex p-2 rounded-md hover:text-teal-500 hover:bg-gray-100
                                 whitespace-nowrap">Semester 5</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 flex p-2 rounded-md hover:text-teal-500 hover:bg-gray-100
                                 whitespace-nowrap">Semester 6</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 flex p-2 rounded-md hover:text-teal-500 hover:bg-gray-100
                                 whitespace-nowrap">Semester 7</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 flex p-2 rounded-md hover:text-teal-500 hover:bg-gray-100
                                 whitespace-nowrap">Semester 8</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="relative inline-flex flex-col" >
                    <div class="inline-flex items-center gap-4">
                        <button class="max-w-[150px] text-[20px]font-bold text-xl hover:text-teal-500 cursor-pointer inline-flex" data-dropdown-toggle="dropdoown" >Subjects<svg class="w-4 h-7 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
                    </div>
                    <div class=" static left-0 bg-gray-50 z-10 top-full rounded-md p-4 hidden" id="dropdoown">
                        <ul class="" aria-labelledby="dropdoown">
                            <li>
                                <a href="#" class="block px-4 py-2 flex p-2 rounded-md hover:text-teal-500 hover:bg-gray-100 whitespace-nowrap"></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>

                <div class="flex items-center gap-4">
                    <button hx-get="/add_account/{{faculty}}/{{semester}}" hx-target="body" class="max-w-[150px] text-[20px]font-bold text-xl hover:text-teal-500">Add account</button>
                </div>
                <div class="flex items-center gap-4">
                    <button hx-get="/faculty/add_subject/{{faculty}}/{{semester}}" hx-target="body" class="max-w-[150px] text-[20px]font-bold text-xl hover:text-teal-500"> Add subject </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="flex justify-center pt-5">
            <div class="w-full lg:w-3/4 xl:w-2/3">
                <table class="table-auto border border-gray-300 mx-auto">
                    <thead>
                        <tr class="bg-gray-100">
                            <th class="px-8 py-2 border-r border-gray-400">Username</th>
                            <th class="px-8 py-2 border-r border-gray-400">First Name</th>
                            <th class="px-8 py-2 border-r border-gray-400">Last Name</th>
                            <th class="px-8 py-2 border-r border-gray-400">Email</th>
                            <th class="px-8 py-2 border-r border-gray-400">Phone Number</th>
                            <th class="px-8 py-2 border-r border-gray-400">Address</th>
                            <th class="px-8 py-2 border-r border-gray-400">Faculty</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr class="hover:bg-gray-50">
                            <td class="border px-4 py-2">{{student.username}}</td>
                            <td class="border px-4 py-2">{{student.first_name}}</td>
                            <td class="border px-4 py-2">{{student.last_name}}</td>
                            <td class="border px-4 py-2">{{student.email}}</td>
                            <td class="border px-4 py-2">{{student.phone_number}}</td>
                            <td class="border px-4 py-2">{{student.address}}</td>
                            <td class="border px-4 py-2">{{student.faculty}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% for subject in subjects %}

<a href="{% url 'subject-detail' subject %}">

{{subject}}

</a> {% endfor %}

<br>
<br>
{% comment %} <button hx-get="/faculty/add_subject/{{faculty}}/{{semester}}" hx-target="body"> Add subject </button> {% endcomment %}